<p>
  game works!
</p>
<div class="jumbotron container">
  <div class="row">
    <div class="col-6">
      <div class="text-center">
        <h2>
          {{j1.name}}
        </h2>
      </div>
      <div class="text-center">
        <h3>
          {{j1.life + '%'}}
        </h3>
        <button class="btn btn-dark">Atacar</button>
      </div>
    </div>
    <div class="col-6">
      <div class="text-center">
        <h2>
          {{j1.name}}
        </h2>
      </div>
      <div class="text-center">
        <h3>
          {{j1.life + '%'}}
        </h3>
        <div>
          <button class="btn btn-dark">Atacar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-sucess">Reiniciar</button>
  </div>
</div>
