<div class="jumbotron container">
  <div class="row">
    <div class="col-6" *ngFor="let j of players">
      <div class="text-center">
        <h2>
          {{j.name}}
        </h2>
      </div>
      <div class="text-center">
        <span class="display-4">
          Vida: {{j.life + '%'}}
        </span>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style.width]="j.life + '%'"
            [class.bg-danger]="j.life < 50"
            [class.bg-success]="j.life >= 50"
          >
          </div>
        </div>
        <br />
        <div>
          <button
            class="btn btn-dark"
            (key.press)="j"
            (click)="damage(j)"
            [disabled]="checkLife()"
          >
            Atacar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button
      class="btn btn-sucess"
      (click)="resetGame()"
    >
      Reiniciar
    </button>
  </div>
</div>
<router-outlet></router-outlet>