<form [formGroup]="nomesForm">
  <div class="row">
    <div class="col-6">
      <div class="col-10 mx-auto">
        <input
          id="jogador1"
          type="text"
          class="form-control"
          placeholder="Jogador 1"
          formControlName="jogador1"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="col-10 mx-auto">
        <input
          id="jogador2"
          type="text"
          class="form-control"
          placeholder="Jogador 2"
          formControlName="jogador2"
        />
      </div>
    </div>
  </div>
</form>
<br />
<app-instructions></app-instructions>
<br />
<div class="row">
  <div class="col-6 mx-auto">
    <button
      id="btnInicia"
      type="button"
      class="btn btn-dark form-control"
      routerLink="/game"
      [queryParams]="nomesForm.value"
      [disabled]="!nomesForm.valid"
    >
      Iniciar
    </button>
  </div>
</div>
